# Port to listen on
PORT=3000

# Path to folder containing OBS executable
OBS_EXE_PATH="C:\\Program Files\\obs-studio\\bin\\64bit"

# Name of OBS executable
OBS_EXE_NAME=obs64.exe

# Time (ms) to allow OBS to start up
OBS_START_TIME=5000

# When connecting to a manually-started OBS instance, use this port
OBS_MANUAL_INSTANCE_PORT=4454

# When connecting to a manually-started OBS instance, use this password
OBS_MANUAL_INSTANCE_PASSWORD=xxxxxxxx

# Amount of time (ms) to give the interactive user to abort OBS automation before it begins
OBS_ABORT_TIME=10000

# Name of the executable that automates OBS (i.e. via AutoHotKey)
OBS_AUTOMATION_EXE=obs-control.exe

# WS connection ports begin here at increment by 1 for each additional OBS instance
OBS_CONNECTION_STARTING_PORT=4455

# Windows user that OBS will run as
INTERACTIVE_USER_ID=xxxxx

# Password for the above user
INTERACTIVE_USER_PW=xxxxxxxx

# API key for YouTube API requests
YOUTUBE_API_KEY=XXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXX

# Channel ID for YouTube API calls
YOUTUBE_CHANNEL_ID=XXXXXXXXXXXXXXXXXXXXXXXX

# URI to YouTube channel
YOUTUBE_CHANNEL_URI=https://www.youtube.com/@MyCurlingClub

# Debug mode will not actually start livestreams
DEBUG_MODE=false
